<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="main.css" rel="stylesheet">
        <title>Title</title>
    </head>
    <body>
        <header>
            
        </header>
        <div class = "buttons">
            <button onclick=fillSelects() class="button">Масса</button>
            <button class="button" id = "kek">Объем</button>
            <button class="button">Длина</button>
            <button class="button">Скорость</button>
            <button class="button">Температура</button>
            <button class="button">Время</button>
        </div>
        <div class = "inputModule">
            <select id="leftSelect1"> 
            </select>
            <div class = "inputText">
                <input type="text">
            </div>
            <select id="rightSelect1"> 
            </select>
        </div>
    </body>
</html>

<script>
    function fillSelects() {
        let array;
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance
        xmlhttp.open("GET", "https://trppconverter1.herokuapp.com/getValues?type=длина", true);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.responseType = 'json';
        xmlhttp.send();
        /*xmlhttp.onload = function() {
            array = xmlhttp.response;
            var t = document.getElementById("kek");
            t.innerText = array[1];
            alert(array.message); // Привет, мир!
        };*/
        xmlhttp.onerror = function() { // происходит, только когда запрос совсем не получилось выполнить
            alert(`Ошибка соединения`);
        };
        
        var leftSelect = document.getElementById("leftSelect1");
        var rightSelect = document.getElementById("rightSelect1");
        //Create array of options to be added
        
        
        //Create and append the options
        for (var i = 0; i < array.length; i++) {
            var leftOption = document.createElement("option");
            var rightOption = document.createElement("option");
            leftOption.setAttribute("value", array[i]);
            rightOption.setAttribute("value", array[i]);
            leftOption.text = array[i];
            rightOption.text = array[i];
            leftSelect.appendChild(rightOption);
            rightSelect.appendChild(leftOption);
        }
        leftSelect.remove(1);
    }
    
    
    
</script>